  <% provide(:title, "Edit Account") %>

  <!-- Page Content -->
  <div class="container text-center">
    <div class="row">
      <h3>Edit Account</h3>
      (Leave password fields blank if not changing password)
      <hr>
    </div>
    <%= render "user_form", url: nil , button_text: "Edit Account" %>
  </div>