  <% provide(:title, "Edit Event") %> 

  <div class="container text-center">
    <div class="row">
      <h3>Edit Event</h3>
      <hr> 
    </div> 
    <%= render "event_form", url: @event, button: "Edit Event" %>
  </div>