  <% provide(:title, "About") %>

  <!-- Page Conent -->
  <section id="body-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <h2 class="section-heading">About Me</h2>
          <hr>
          <%= image_tag "about.jpg", class: "img-circle", id: "about-image" %>
          <p>I'm a software engineer/web developer. I enjoy working in environments where I’m constantly needed and depended on. I am self-disciplined and always willing to learn new things to get the job done. I enjoy hiking and being outdoors in nature, watching and playing sports, and reading up on anything tech! Feel free to contact me through any of the methods listed below. Also, don't forget to check out my <a href="https://drive.google.com/file/d/0B-4Vah9LEYrLZDRTRUp2MG9XanM/view">resume</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h2 class="section-heading">Contact Info</h3>
          <hr>
          <div class="col-lg-4 text-center">
            <i class="fa fa-television fa-3x"></i>
            <p><a href="http://www.ericgonzalez1994.com" target="blank">EricGonzalez1994.com</a></p>
          </div>
          <div class="col-lg-4 text-center">
            <i class="fa fa-phone fa-3x sr-contact"></i>
            <p>(415)490-6568</p>
          </div>
          <div class="col-lg-4 text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
            <p><a href="mailto:twinpaireric@gmail.com">Twinpaireric@gmail.com</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg12 text-center">
          <div class="col-lg-3 text-center">
            <a href="https://github.com/Twinpair/" target="blank"><i class="fa fa-github-square fa-3x"></i></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="https://www.linkedin.com/in/ericgonzalez1994" target="blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="https://www.facebook.com/EricGonzalez1994" target="blank"><i class="fa fa-facebook-square fa-3x"></i></a>
          </div>
          <div class="col-lg-3 text-center">
            <a href="https://www.instagram.com/ericg_1994/" target="blank"><i class="fa fa-instagram fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>